body {
  background-color: #f4e7dd;
  // min-width: 100vw;

  h3 {
    color: #6e5748;
  }

  .wrapper {
    font-family: 'Quintessential', cursive;
    position: relative;

    header {
      background-color: #9a727d;
      min-width: 70vw;
      position: absolute;
      top: 3rem;
      min-height: 20vh;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: 'Playfair Display SC', serif;
      }
      h2 {
        margin-top: 3rem;
      }
    }

    main {
      // max-width: 100vw;
       padding-top: 280px;

      a {
        text-decoration: none;
        img {
          border-radius: 10px;
        }
      }

      section:first-child {
        max-width: 100vw;
        min-height: 95vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        article:nth-child(1) {
          max-width: 210px;
          p:first-child {
            word-break: break-all;
          }
        }

        article:nth-child(2) {
          display: flex;
          flex-direction: row;
          max-width: 100%;
          .link {
            color: rgb(36, 33, 33);
            font-size: 1.8rem;
            padding: 5px;
            margin: 8px;
            transition: all 0.25s ease-in-out;

            &:hover {
              font-size: 2rem;
              cursor: pointer;
              transition: all 0.25s ease-in-out;
            }
          }
        }

        div {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 100%;
          h3 {
            word-break: break-all;
            margin-top: 2.5rem;
          }
          h4 {
            word-break: break-all;
          }
        }
        article:nth-child(4) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 100%;
          a img {
            width: 200px;
            height: auto;
            margin-top: 1.5rem;
            margin: 10px;
          }
        }
      }

      section:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left-top {
          background-color: #d2ccc3;
          min-height: 15vh;
          max-width: 100vw;
        }

        .left-center {
          background-color: #f4e7dd;
          min-height: 15vh;
          max-width: 100vw;
        }

        .left-bottom {
          background-color: #d2ccc3;
          max-height: 200vh;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 100vw;
          min-height: 100vh;

          div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            h3 {
              padding: 3rem 1rem 2rem 1rem;
              word-break: break-all;
              max-width: 160px;
              // margin-left: 2.5rem;
              text-align: center;
            }
          }

          article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a img {
              margin-left: 0%;
              margin: 10px;
              width: 200px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
