body {
  background-color: #f4e7dd;

  h3 {
    color: #6e5748;
  }

  .wrapper {
    font-family: 'Quintessential', cursive;
    position: relative;

    header {
      background-color: #9a727d;
      min-width: 70vw;
      position: absolute;
      top: 3rem;
      left: 0px;
      min-height: 20vh;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: 'Playfair Display SC', serif;
      }
      h2 {
        margin-top: 3rem;
      }
    }

    main {
      padding-top: 280px;

      a {
        text-decoration: none;
        img {
          border-radius: 10px;
        }
      }

      section:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        article:nth-child(1) {
          max-width: 210px;
          p:first-child {
            word-break: break-all;
          }
        }

        article:nth-child(2) {
          // display: flex;
          // flex-direction: row;
          // max-width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          .link {
            color: rgb(36, 33, 33);
            font-size: 2.2rem;
            padding: 5px;
            margin: 8px;
            transition: font-size 0.5s ease-in-out;

            &:hover {
              color: #9a727d;
              cursor: pointer;
              transition: color 0.5s ease-in-out;
            }
          }
        }

        div {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h3 {
            word-break: break-all;
            // margin-top: 2.5rem;
          }
          h4 {
            word-break: break-all;
          }
        }
        article:nth-child(4) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          a img {
            width: 200px;
            height: auto;
            margin-top: 1.5rem;
            margin: 10px;
            transition: transform 0.5s ease-in-out;

            &:hover {
              transform: scale(1.1);
              transition: transform 0.5s ease-in-out;
            }
          }
        }
      }

      section:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left-top {
          background-color: #d2ccc3;
        }

        .left-center {
          background-color: #f4e7dd;
        }

        .left-bottom {
          background-color: #d2ccc3;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 100vw;

          div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            h3 {
              padding: 3rem 1rem 2rem 1rem;
              word-break: break-all;
              max-width: 160px;
              text-align: center;
            }
          }

          article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a img {
              margin-left: 0%;
              margin: 10px;
              width: 200px;
              height: auto;
              transition: transform 0.5s ease-in-out;

              &:hover {
                transform: scale(1.1);
                transition: transform 0.5s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
