body {
  .wrapper {
    font-size: larger;
    main {
      section:first-child {
        article:first-child {
          margin-top: 550px;
        }
      }

      section:last-child {
        .left-bottom {
          min-height: 100vh;
          div {
            h3 {
              max-width: 280px;
            }
          }
        }
      }
    }
  }
}
