body {
  .wrapper {
    font-size: larger;
    main {
      padding-top: 60px;
      min-height: 100vh;
      section:first-child {
        padding-top: 35px;
        article:nth-child(4) {
          a {
            padding-left: 1rem;
          }
        }
      }

      section:last-child {
        .left-bottom {
          div {
            h3 {
              max-width: 270px;
            }
          }
        }
      }
    }
  }
}
